@page
@model CurrencyExchange.Pages.ConvertModel
@{
    ViewData["Title"] = "Convert";
}

<h2>Latest Exchange Rate</h2>

<div id="results">
    <ul class="list-group">
        <li class="list-group-item"><b>Base Currency: </b>@Model.InitialCurrencyInfo.Name</li>
        <li class="list-group-item"><b>Requested Amount: </b>@Model.InitialCurrencyInfo.Symbol@Model.ExchangeData.InitialAmount</li>
        <li class="list-group-item"><b>Converted To: </b>@Model.ReturnCurrencyInfo.Name</li>
        <li class="list-group-item list-group-item-success"><b>Equivalent Amount: </b>@Model.ReturnCurrencyInfo.Symbol@Math.Round(Model.ExchangeData.ConvertedAmount, 2)</li>
    </ul>
</div>
