@page
@model CurrencyExchange.Pages.ConvertModel
@{
    ViewData["Title"] = "Convert";
}

<h2>Latest Exchange Rate</h2>

<table class="table">
    <thead>
        <tr>
            <th>Base Currency</th>
            <th>Initial Amount</th>
            <th>Requested Currency</th>
            <th>Converted Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.ExchangeData.InitialCurrency</td>
            <td>@Model.ExchangeData.InitialAmount</td>
            <td>@Model.ExchangeData.ReturnCurrency</td>
            <td>@Model.ExchangeData.ConvertedAmount</td>
        </tr>
    </tbody>
</table>

